<form class="d-inline" method="post" action="{{ path('page_delete', {'id': page.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ page.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
