{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block content %}
    <h1>Edit Page</h1>

    {{ include('page/_form.html.twig', {'button_label': 'Update', 'method_value': 'PUT'}) }}

    <a href="{{ path('page_index') }}">back to list</a>
{% endblock %}
