{% extends 'base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-6 text-center text-sm-left">
            <h2>Pages</h2>
        </div>
        <div class="col col-6 text-center text-sm-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary" href="{{ path('page_create') }}">Create new</a>
            {% endif %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 table-responsive-sm">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Label</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for page in pages %}
                    <tr>
                        <td>{{ page.title }}</td>
                        <td class="text-right">
                            <a class="btn btn-info mb-2 mb-md-0" href="{{ path('page_show', {'id': page.id}) }}">
                                Show
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-warning mb-2 mb-md-0" href="{{ path('page_edit', {'id': page.id}) }}">
                                    Edit
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
