{% extends 'base.html.twig' %}

{% block title %}New space type{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>New space type</h1>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            {{ form_widget(form) }}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-5">
            <a href="{{ path('schedule_space_type_index') }}" class="btn btn-light">Back to list</a>
        </div>
        <div class="col-7 text-right">
            <button class="btn btn-success">Add</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
