<form method="post" action="{{ path('event_delete', {'id': event.id}) }}" class="d-inline-block">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
