{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
{% endblock %}

{% block title %}You're signed in!{% endblock %}

{% block content %}
    <div class="container">
        You're signed in !
    </div>
    
{% endblock %}