language: php

php:
    - 7.3

before_script:
    - composer install

script:
    - docker run --rm -v $(pwd):/app phpqa/php-cs-fixer fix --dry-run --diff -vvv
    - docker run --rm -v $(pwd):/app composer vendor/phpmd/phpmd/src/bin/phpmd src text phpmd.xml
    - docker run --rm -v $(pwd):/app composer bin/phpunit
