default:
  suites:
    default:
      contexts:
        - FeatureContext:
            kernel: '@kernel'
        - Behat\MinkExtension\Context\MinkContext
        - behatch:context:json
        - behatch:context:rest
        - Behatch\Context\BrowserContext
        - SponsorshipContext
        - PageContext
        - ScheduleContext
        - InterviewQuestionContext
        - SendInterviewContext
        - EventContext
  extensions:
    Behat\Symfony2Extension:
      kernel:
        bootstrap: features/bootstrap/bootstrap.php
        class: App\Kernel
    Behat\MinkExtension:
        base_url: http://nginx
        goutte: ~
        default_session: goutte
        javascript_session: selenium2
        browser_name: chrome
        selenium2:
            browser: chrome
            wd_host: http://hub:4445/wd/hub
            capabilities:
                marionette: null
                version: ''
                locationContextEnabled: false
    Behatch\Extension: ~