default:
  suites:
    default:
      contexts:
        - FeatureContext:
            kernel: '@kernel'
        - Behat\MinkExtension\Context\MinkContext
        - behatch:context:json
        - behatch:context:rest
        - Behatch\Context\BrowserContext
        - SponsorshipContext
        - PageContext
        - ScheduleContext
        - InterviewQuestionContext
        - SendInterviewContext
        - EventContext
        - TalkContext
        - SpeakerContext
  extensions:
    Bex\Behat\ScreenshotExtension:
      image_drivers:
        local:
          screenshot_directory: ./var/behat/fail-screenshots
          clear_screenshot_directory: true
    Behat\Symfony2Extension:
      kernel:
        bootstrap: features/bootstrap/bootstrap.php
        class: App\Kernel
    Behat\MinkExtension:
        base_url: http://nginx
        files_path: "./public/images/"
        goutte: ~
        default_session: goutte
        javascript_session: selenium2
        browser_name: chrome
        selenium2:
            browser: chrome
            wd_host: http://hub:4445/wd/hub
            capabilities:
                marionette: null
                version: ''
                locationContextEnabled: false
    Behatch\Extension: ~