{% extends 'base.html.twig' %}

{% block title %}New talk{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>New talk</h1>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            {{ form_widget(form) }}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <a href="{{ path('talk_index') }}" class="btn btn-light">Back to list</a>
        </div>
        <div class="col-6 text-right">
            <button type="submit" class="btn btn-success">Add talk</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
