<form class="d-inline" method="post"
      action="{{ path('schedule_slot_delete', {'id': slot.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ slot.id) }}">
    <button class="btn btn-sm text-danger btn-link" type="submit">
        <span class="fas fa-remove"></span>
    </button>
</form>