{{ form_start(form,{'action': path('schedule_duplicate_item',{'id': schedule.id})}) }}

{{ form_widget(form.day,{ 'value' : schedule.day|date_modify("+1 day")|date('Y-m-d')}) }}
<input type="hidden" name="_method" value="post">
<div class="row mt-5">
    <div class="col-6">
        <a href="{{ path('schedule_index') }}" class="btn btn-light">Back to schedule</a>
    </div>
    <div class="col-6">
        <button class="btn btn-success" type="submit">
            Duplicate day
        </button>
    </div>
</div>
{{ form_end(form) }}

