{% extends "base.html.twig" %}

{% block title %}Duplicate day{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1 class="mb-lg-4 mt-lg-4">Duplicate day</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Do you wish to confirm "{{ schedule.day.format('Y/m/d') }}" day duplicate ?</h5>
                            {{ include('schedule/configure/_duplicate_day.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/duplicate_day.js') }}"></script>
{% endblock %}
