<form method="post" action="{{ path('speaker_delete', {'id': speaker.id}) }}" class="d-inline-block">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ speaker.id) }}">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
