{% extends "base.html.twig" %}

{% block title %}Delete special benefit{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1 class="mb-lg-4 mt-lg-4">Delete special benefit</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Do you wish to confirm "{{ specialBenefit.label }}" special benefit deletion?</h5>
                    <div class="row mt-5">
                        <div class="col-6">
                            <a href="{{ path('special_benefit_index') }}" class="btn btn-light">Back to list</a>
                        </div>
                        <div class="col-6">
                            {{ include('specialBenefit/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
