{% extends 'base.html.twig' %}

{% block title %}Import Speakers with Talks{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Import Speakers with Talks</h1>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            {{ form_widget(form) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <a href="{{ path('speaker_index') }}" class="btn btn-light">Back to list</a>
        </div>
        <div class="col-6 text-right">
            <button type="submit" class="btn btn-success">Import</button>
        </div>
    </div>
    {{ form_end(form) }}

    <script>
        document.querySelector("input[id=upload_speaker_from_csv_emailExportCsvFile]").addEventListener('change', function (element) {
            let target = element.target;

            const value = target.value.replace("C:\\fakepath\\", "");
            if (value !== undefined || value !== '') {
                document.querySelector('label.custom-file-label[for="upload_speaker_from_csv_emailExportCsvFile"]').dataset.content = value;
                document.querySelector('label.custom-file-label[for="upload_speaker_from_csv_emailExportCsvFile"]').textContent = value;
            }
        });

        document.querySelector("input[id=upload_speaker_from_csv_talkExportCsvFile]").addEventListener('change', function (element) {
            let target = element.target;
            const value = target.value.replace("C:\\fakepath\\", "");
            if (value !== undefined || value !== '') {
                document.querySelector('label.custom-file-label[for="upload_speaker_from_csv_talkExportCsvFile"]').dataset.content = value;
                document.querySelector('label.custom-file-label[for="upload_speaker_from_csv_talkExportCsvFile"]').textContent = value;
            }
        });
    </script>
{% endblock %}
