<form class="d-inline" method="post" action="{{ path('sponsorship_benefit_delete', {'id': sponsorshipBenefit.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sponsorshipBenefit.id) }}">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>