{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Sponsorship Benefit{% endblock %}

{% block content %}
    <h1>Create new Sponsorship Benefit</h1>

    {{ include('sponsorshipBenefit/_form.html.twig') }}

    <a href="{{ path('sponsorship_benefit_index') }}">back to list</a>
{% endblock %}
