{% extends 'base.html.twig' %}

{% block title %}Sponsorship Benefits{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 text-center text-sm-left">
            <h2>Sponsorship Benefits</h2>
        </div>
        <div class="col-sm-6 text-center text-sm-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary" href="{{ path('sponsorship_benefit_create') }}">Add benefit</a>
            {% endif %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Label</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th class="text-right">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for benefit in benefits %}
                    <tr>
                        <td>{{ benefit.label }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td class="text-right">
                                <a class="btn btn-secondary"
                                   href="{{ path('sponsorship_benefit_edit', {'id': benefit.id}) }}">Edit</a>
                                <a class="btn btn-danger"
                                   href="{{ path('sponsorship_benefit_confirm_delete', {'id': benefit.id}) }}">Delete</a>
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
