<form class="d-inline" method="post" action="{{ path('sponsorship_level_delete', {'id': sponsorshipLevel.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sponsorshipLevel.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
