<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/base.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'layout/header.html.twig' %}
        <div class="container">
            {% block content '' %}
        </div>
        <div id="snackbar"></div>
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('build/base.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
