{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/app.css') }}" />
{% endblock %}

{% block title %}Community event manager{% endblock %}

{% block body %}
<div class="container">
     <h1>Community event manager</h1>
</div>
{% endblock %}
