{% extends "base.html.twig" %}

{% block title %}Community event manager{% endblock %}

{% block content %}
     <div class="row">
          <div class="col-sm-6 text-center text-sm-left">
               <h2>Events management</h2>
          </div>

          {% if is_granted('ROLE_ADMIN') %}
               <div class="col-sm-6 text-center text-sm-right">
                    <a class="btn btn-primary" href="{{ path('event_create') }}">
                         <i class="fas fa-calendar-plus"></i>
                         Create a new Event
                    </a>
               </div>
          {% endif %}
     </div>

     {% if events.active|length > 0 %}
          <h3>Active events</h3>

          <div class="row">
               {% for event in events.active %}
                    <div class="col-sm-6">
                         <div class="card">
                              <div class="card-body text-center">
                                   <i class="fas fa-calendar fa-5x mb-3 text-success"></i>
                                   {% include 'event/_card-body.html.twig' %}
                              </div>
                         </div>
                    </div>
               {% endfor %}
          </div>
     {% endif %}

     {% if events.future|length > 0 %}
          <h3>Incoming events</h3>

          <div class="row">
               {% for event in events.future %}
                    <div class="col-sm-6 col-md-4">
                         <div class="card">
                              <div class="card-body text-center">
                                   <i class="fas fa-calendar-alt fa-4x mb-3 text-primary"></i>
                                   {% include 'event/_card-body.html.twig' %}
                              </div>
                         </div>
                    </div>
               {% endfor %}
          </div>
     {% endif %}

     {% if events.finished|length > 0 %}
          <h3>Past events</h3>

          <div class="row">
               {% for event in events.finished %}
                    <div class="col-sm-6 col-md-4">
                         <div class="card">
                              <div class="card-body text-center">
                                   <i class="fas fa-calendar-check fa-3x mb-3 text-muted"></i>
                                   {% include 'event/_card-body.html.twig' %}
                              </div>
                         </div>
                    </div>
               {% endfor %}
          </div>
     {% endif %}
{% endblock %}
