<form
        method="post"
        action="{{ path('organisation_delete', {'id': organisation.id}) }}"
        class="d-inline-block"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('organisation-' ~ organisation.id) }}">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>