{% for page in pages %}
    <page backimg="/tmp/{{ page.background }}" backimgx="left 50mm" backimgy="middle" backimgw="50%" backtop="20mm" backright="50mm" backbottom="20mm" backleft="50mm">
        <div style="width: 550px;height: 400px;margin-left: 40%; padding-left: 10px; padding-top: 80px; padding-bottom: 25px; float: right; background-color: white; text-align: justify; border-left: 5px solid #6AA84F;">
            <h3 style="color:#6AA84F; margin-bottom: 10px;">{{ page.title }}</h3>
            <p style="font-size: 14pt;">{{ page.content|nl2br }}</p>
        </div>
    </page>
{% endfor %}
