<style type="text/css">
    <!--
    table.tableLevelBenefit th, table.tableLevelBenefit td {
        padding: 5px;
    }
    tr.lineBenefit
    {
        background-color: #B6D7A8;
    }
    -->
</style>
<page backtop="20mm" backright="10mm" backbottom="20mm" backleft="10mm">
    <table class="tableLevelBenefit">
        <col width="430">
        <tr style="background-color: #6AA84F; color: white; font-size: 12pt">
            <th>Benefits</th>
            {% for level in levels %}
                <th style="text-align: center;">{{ level.label }}</th>
            {% endfor %}
        </tr>

        {% for levelBenefit in levelBenefits %}
            <tr {% if loop.index % 2 == 0 %}class="lineBenefit"{% endif %}>
                <td>{{ levelBenefit.benefit.label }}</td>
                {% for level in levelBenefit.levels %}
                    <td style="text-align: center;">
                        {% if level.isChecked %}
                            {% if level.text is not null %}
                                {{ level.text }}
                            {% else %}
                                <img src="/var/www/symfony/public/images/check.png"/>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tfoot class="thead-dark">
        <tr style="background-color: #6AA84F; color: white; font-size: 12pt;">
            <th>Price</th>
            {% for level in levels %}
                <th>{{ level.price|number_format(2, ',', ' ')~'€' }}</th>
            {% endfor %}
        </tr>
        </tfoot>
    </col>
    </table>
</page>
