<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 fixed-top flex-md-nowrap p-0 shadow">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar-toggle"
                aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('index') }}">
            {{ selectedEvent.name | default('Community Event Manager') }}
        </a>
        <ul class="navbar-nav mh-auto mt-2">
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item 'active'">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
            {% else %}
                <li class="nav-item 'active'">
                    <a class="nav-link" href="{{ path('app_logout') }}">
                        <i class="fas fa-power-off"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
